/* Estilos generales */
html {
  height: 100%;
  width: 100%;
}

/* Estilos para el cuerpo de la página */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; /* Color de fondo */
  margin: 0;
  padding: 0;
}

.container, .container-fluid {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para el encabezado */
.display-4 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/* Estilos para los botones */
.btn {
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Estilos para el mapa */
#map {
  height: 400px;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
}

/* Estilos para la barra de navegación (si es necesario) */
.navbar {
  background-color: #007BFF; /* Color de fondo de la barra de navegación */
  color: #fff; /* Color del texto en la barra de navegación */
}

/* Clase de texto para botones */
.button-text {
  font-size: 1rem;
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

/* Espaciado en la parte superior e inferior de la página */
.mt-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Añadir más estilos según sea necesario */
